{{- $email := promptStringOnce . "email" "Email address" "xander@xanderhirsch.net" -}}

data:
  email: {{ $email | quote }}
  defaultBranch: "{{ if eq $email "xander@xanderhirsch.net" -}} main {{- else -}} master {{- end }}"
  nixpkgsCommit: ""
  msmtpAddress: ""
  msmtpPassword: ""
  msmtpDomain: ""
