{{ if eq .email "xander@xanderhirsch.net" -}}
Match host "*.xhlab.net,*.exocomet-tortoise.ts.net"
    ForwardAgent yes
{{- end }}

Host github.com
    RequestTTY no

Host *
    IgnoreUnknown UseKeychain
    HashKnownHosts no

    UseKeychain yes
    AddKeysToAgent yes
    IdentityFile ~/.ssh/id_ed25519

    ControlMaster auto
    ControlPath ~/.ssh/control/%C
    ControlPersist no
    ServerAliveInterval 30

{{ if eq .email "xander@xanderhirsch.net" }}
    CanonicalizeHostname yes
    CanonicalDomains home.xhlab.net exocomet-tortoise.ts.net
{{- end }}
