{{ if lookPath "delta" -}}
[core]
	pager = delta
[delta]
	light = true
	syntax-theme = "Solarized (light)"
{{- end }}
[diff]
	algorithm = histogram
[fetch]
	prune = true
[init]
	defaultBranch = {{ .defaultBranch }}
[log]
	abbrevCommit = true
[pull]
	ff = only
[user]
	email = {{ .email }}
	name = Xander Hirsch
