[alias]
alias = !git config --list | grep alias.* | cut -b 7-
co = checkout
commitMsg = log --format=%B -n 1
last = log -1 HEAD --stat
lg = log --graph
st = status --short
sync = merge --ff-only @{upstream}

[core]
{{ if lookPath "delta" -}} pager = delta {{- end }}

[diff]
algorithm = histogram

[fetch]
prune = true

[init]
defaultBranch = {{ .defaultBranch }}

[log]
abbrevCommit = true

[merge]
conflictStyle = zdiff3

[pull]
ff = only

[user]
email = {{ .email }}
name = Xander Hirsch
