Host github
	User git
	Hostname github.com
	RequestTTY no

Match host *.xanderhirsch.us,*.local
	User xh
	ForwardAgent yes

Host *
	UseKeychain yes
	IdentityFile ~/.ssh/id_ed25519
	IdentitiesOnly yes
	AddKeysToAgent yes
	PreferredAuthentications publickey
	ControlMaster auto
	ControlPath ~/.ssh/control/%C
	ControlPersist 600
