Host github
	User git
	Hostname github.com
	RequestTTY no

Match host *.xanderhirsch.us,*.local
	User xh
	ForwardAgent yes

Match exec "[[ -a ~/.ssh/id_ed25519 ]]"
	IdentitiesOnly yes
	IdentityFile ~/.ssh/id_ed25519

Match exec "[[ $(uname -s) == 'Darwin' ]]"
	UseKeychain yes

Host *
	AddKeysToAgent yes
	PreferredAuthentications publickey
	ControlMaster auto
	ControlPath ~/.ssh/control/%C
	ControlPersist 600
